.DS_Store
.idea/
cmake-build-debug/
build/
*.o
*.pem
__pycache__/
*.csv
*.xz
*.backup
.vscode
debug
venv
*.iml
bin/
obj/
.vs/
*.sln
**/java-client/target
**/java-client/out
.env
.cache/clangd
external/grafana/plugins/snowflake-grafana-datasource
external/grafana/plugins/grafana-clickhouse-datasource
external/scheduler-sdk/.cache/clangd/index
