[submodule "lib/tinyxml2"]
	path = lib/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "asabru-parsers"]
	path = lib/asabru-parsers
	url = https://github.com/ChistaDATA/asabru-parsers.git
	branch = main
[submodule "asabru-engine"]
	path = lib/asabru-engine
	url = https://github.com/ChistaDATA/asabru-engine.git
	branch = main
[submodule "asabru-commons"]
	path = lib/asabru-commons
	url = https://github.com/ChistaDATA/asabru-commons.git
	branch = main
